* {
    font-size: 1rem;
    font-weight: 400;
    font-family: Roboto-Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

.fondo {
    background-image: url(assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
/*-----------------Directivas-------------*/
@font-face {
    font-family:;
    src: url(/*-----------------Header-----------------*/

    .encabezado {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        object-fit: cover;
        justify-content: space-between;
        align-items: center;
        padding: 12px 60px;
        background-color: #030101;
    }
    );
}

/*-----------------Header-----------------*/

.encabezado {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    object-fit: cover;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    background-color: #030101;
}



